table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 2480px;
  width: 100%;
  border: 1px solid;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#texto{
  text-align: center;
  font-family: Candara,serif;
  font-size: 1em;
  color: #000000;

}
#divbanner{
	background-image: url("../img/500.jpg");
}
#divcontainer{
	width: 700px;
	text-align: center;
}
#divfooter{
	width: 700px;
  height: 80px;
	background-image: url("../img/footerPDF.png");
	text-align: center;

}